<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicBinding1" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="pbservice125.n_account" behaviorConfiguration="ServiceNameBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicBinding1" contract="pbservice125.n_account" bindingNamespace="http://tempurl.org" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" bindingNamespace="http://tempurl.org" />
      </service>
      <service name="pbservice125.n_common" behaviorConfiguration="ServiceNameBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicBinding1" contract="pbservice125.n_common" bindingNamespace="http://tempurl.org" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" bindingNamespace="http://tempurl.org" />
      </service>
      <service name="Sybase.PowerBuilder.WCFNVO.n_shrlon" behaviorConfiguration="ServiceNameBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicBinding1" contract="Sybase.PowerBuilder.WCFNVO.n_shrlon" bindingNamespace="http://tempurl.org" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" bindingNamespace="http://tempurl.org" />
      </service>
      <service name="pbservice125.n_admin" behaviorConfiguration="ServiceNameBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicBinding1" contract="pbservice125.n_admin" bindingNamespace="http://tempurl.org" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" bindingNamespace="http://tempurl.org" />
      </service>
      <service name="pbservice125.n_agency" behaviorConfiguration="ServiceNameBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicBinding1" contract="pbservice125.n_agency" bindingNamespace="http://tempurl.org" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" bindingNamespace="http://tempurl.org" />
      </service>
      <service name="pbservice125.n_budget" behaviorConfiguration="ServiceNameBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicBinding1" contract="pbservice125.n_budget" bindingNamespace="http://tempurl.org" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" bindingNamespace="http://tempurl.org" />
      </service>
      <service name="pbservice125.n_busscom" behaviorConfiguration="ServiceNameBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicBinding1" contract="pbservice125.n_busscom" bindingNamespace="http://tempurl.org" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" bindingNamespace="http://tempurl.org" />
      </service>
      <service name="pbservice125.n_deposit" behaviorConfiguration="ServiceNameBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicBinding1" contract="pbservice125.n_deposit" bindingNamespace="http://tempurl.org" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" bindingNamespace="http://tempurl.org" />
      </service>
      <service name="pbservice125.n_divavg" behaviorConfiguration="ServiceNameBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicBinding1" contract="pbservice125.n_divavg" bindingNamespace="http://tempurl.org" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" bindingNamespace="http://tempurl.org" />
      </service>
      <service name="pbservice125.n_finance" behaviorConfiguration="ServiceNameBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicBinding1" contract="pbservice125.n_finance" bindingNamespace="http://tempurl.org" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" bindingNamespace="http://tempurl.org" />
      </service>
      <service name="pbservice125.n_investment" behaviorConfiguration="ServiceNameBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicBinding1" contract="pbservice125.n_investment" bindingNamespace="http://tempurl.org" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" bindingNamespace="http://tempurl.org" />
      </service>
      <service name="pbservice125.n_keeping" behaviorConfiguration="ServiceNameBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicBinding1" contract="pbservice125.n_keeping" bindingNamespace="http://tempurl.org" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" bindingNamespace="http://tempurl.org" />
      </service>
      <service name="pbservice125.n_mis" behaviorConfiguration="ServiceNameBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicBinding1" contract="pbservice125.n_mis" bindingNamespace="http://tempurl.org" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" bindingNamespace="http://tempurl.org" />
      </service>
      <service name="pbservice125.n_pm" behaviorConfiguration="ServiceNameBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicBinding1" contract="pbservice125.n_pm" bindingNamespace="http://tempurl.org" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" bindingNamespace="http://tempurl.org" />
      </service>
      <service name="pbservice125.n_principalbalance" behaviorConfiguration="ServiceNameBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicBinding1" contract="pbservice125.n_principalbalance" bindingNamespace="http://tempurl.org" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" bindingNamespace="http://tempurl.org" />
      </service>
      <service name="pbservice125.n_trading" behaviorConfiguration="ServiceNameBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicBinding1" contract="pbservice125.n_trading" bindingNamespace="http://tempurl.org" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" bindingNamespace="http://tempurl.org" />
      </service>
      <service name="Sybase.PowerBuilder.WCFNVO.n_cst_lnsrv_reqloan" behaviorConfiguration="ServiceNameBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="Sybase.PowerBuilder.WCFNVO.n_cst_lnsrv_reqloan" bindingNamespace="http://tempurl.org" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" bindingNamespace="http://tempurl.org" />
      </service>
      <service name="Sybase.PowerBuilder.WCFNVO.n_cst_account_prepare_vc_service_lap" behaviorConfiguration="ServiceNameBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="Sybase.PowerBuilder.WCFNVO.n_cst_account_prepare_vc_service_lap" bindingNamespace="http://tempurl.org" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" bindingNamespace="http://tempurl.org" />
      </service>
      <service name="Sybase.PowerBuilder.WCFNVO.n_cst_account_prepare_vc_service_hat" behaviorConfiguration="ServiceNameBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="Sybase.PowerBuilder.WCFNVO.n_cst_account_prepare_vc_service_hat" bindingNamespace="http://tempurl.org" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" bindingNamespace="http://tempurl.org" />
      </service>
      <service name="Sybase.PowerBuilder.WCFNVO.n_cst_account_prepare_vc_service_nsth" behaviorConfiguration="ServiceNameBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="Sybase.PowerBuilder.WCFNVO.n_cst_account_prepare_vc_service_nsth" bindingNamespace="http://tempurl.org" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" bindingNamespace="http://tempurl.org" />
      </service>
      <service name="Sybase.PowerBuilder.WCFNVO.n_cst_dbconnectservice" behaviorConfiguration="ServiceNameBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="Sybase.PowerBuilder.WCFNVO.n_cst_dbconnectservice" bindingNamespace="http://tempurl.org" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" bindingNamespace="http://tempurl.org" />
      </service>
    </services>
    <!--For debugging purposes set the includeExceptionDetailInFaults attribute to true-->
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceNameBehavior">
          <serviceMetadata httpGetEnabled="True" />
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true">
    </serviceHostingEnvironment>
  </system.serviceModel>
</configuration>