<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:MaxHttpCollectionKeys" value="200000"/>
    <!--SetBinding-->
    <add key="bindingMaxReceivedMessageSize" value="2147483647"/>
    <add key="bindingReaderQuotasMaxDepth" value="2147483647"/>
    <add key="bindingReaderQuotasMaxStringContentLength" value="2147483647"/>
    <add key="bindingReaderQuotasMaxArrayLength" value="2147483647"/>
    <add key="bindingReaderQuotasMaxBytesPerRead" value="2147483647"/>
    <!--SetBinding(seconds)-->
    <add key="bindingCloseTimeout" value="600"/>
    <add key="bindingReceiveTimeout" value="600"/>
    <add key="bindingOpenTimeout" value="600"/>
    <add key="bindingSendTimeout" value="600"/>
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=203.151.56.94/gcoop;Persist Security Info=True;User ID=iscomhs_test;Password=iscomhs_test;Unicode=True"
      providerName="System.Data.OracleClient" />
    <add name="iscoslpConnectionString" connectionString="Data Source=203.154.39.63;Initial Catalog=iscoslp;Persist Security Info=True;User ID=sa;Password=hD6@]Uzk"
      providerName="System.Data.SqlClient" />
    <add name="iscoslp_demoConnectionString" connectionString="Data Source=203.154.39.63;Initial Catalog=iscoslp_demo;Persist Security Info=True;User ID=sa;Password=hD6@]Uzk"
      providerName="System.Data.SqlClient" />
    <add name="iscoslp_testConnectionString" connectionString="Data Source=203.154.39.63;Initial Catalog=iscoslp_test;Persist Security Info=True;User ID=sa;Password=hD6@]Uzk"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <!--<identity impersonate="true" userName="192.168.1.24\Administrator" password="Admin123" />-->
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms name="form" loginUrl="http://sav.icoopthai.co/CEN/GCOOP/SingleSignOn/Login.aspx" defaultUrl="http://sso.icoopthai.co/CEN/GCOOP/SingleSignOn/Default.aspx" domain="icoopthai.co"/>
    </authentication>
    <machineKey validationKey="21F090935F6E49C2C797F69BBAAD8402ABD2EE0B667A8B44EA7DD4374267A75D" decryptionKey="ABAA84D7EC4BB56D75D217CECFFB9628809BDB8BF91CFCD64568A145BE59719F" validation="SHA1" decryption="AES"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
-->
    <!--<customErrors mode="On" defaultRedirect="ErrorPage.aspx">
            <error statusCode="403" redirect="ErrorPage.aspx" />
            <error statusCode="404" redirect="ErrorPage.aspx" />
          -->
    <!--<error statusCode="404" redirect="FileNotFound.htm" />-->
    <!--
</customErrors>-->
    <httpRuntime executionTimeout="108000" maxRequestLength="104856"/>
    <httpHandlers>
      <add verb="POST,GET" path="ajaxpro/*.ashx" type="AjaxPro.AjaxHandlerFactory, AjaxPro.2"/>
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAccount" />
        <binding name="BasicHttpBinding_IAdmin" />
        <binding name="BasicHttpBinding_IAgency" />
        <binding name="BasicHttpBinding_IBudget" />
        <binding name="BasicHttpBinding_IBusscom" />
        <binding name="BasicHttpBinding_ICommon" />
        <binding name="BasicHttpBinding_IDeposit" />
        <binding name="BasicHttpBinding_IDivavg" />
        <binding name="BasicHttpBinding_IFinance" />
        <binding name="BasicHttpBinding_IInvestment" />
        <binding name="BasicHttpBinding_IKeeping" />
        <binding name="BasicHttpBinding_IMis" />
        <binding name="BasicHttpBinding_IPm" />
        <binding name="BasicHttpBinding_IPrincipalBalance" />
        <binding name="BasicHttpBinding_IPrint" />
        <binding name="BasicHttpBinding_IShrlon" />
        <binding name="BasicHttpBinding_ITrading" />
        <binding name="BasicHttpBinding_IReport" />
        <binding name="BasicHttpBinding_IInterPreter" />
        <binding name="BasicHttpBinding_n_shrlon" maxBufferPoolSize="2147483647"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="BasicHttpBinding_n_common" maxBufferPoolSize="2147483647"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="BasicHttpBinding_n_account" maxBufferPoolSize="2147483647"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="BasicHttpBinding_n_admin" maxBufferPoolSize="2147483647"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="BasicHttpBinding_n_agency" maxBufferPoolSize="2147483647"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="BasicHttpBinding_n_budget" maxBufferPoolSize="2147483647"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="BasicHttpBinding_n_busscom" maxBufferPoolSize="2147483647"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="BasicHttpBinding_n_deposit" maxBufferPoolSize="2147483647"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="BasicHttpBinding_n_divavg" maxBufferPoolSize="2147483647"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="BasicHttpBinding_n_finance" maxBufferPoolSize="2147483647"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="BasicHttpBinding_n_investment" maxBufferPoolSize="2147483647"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="BasicHttpBinding_n_keeping" maxBufferPoolSize="2147483647"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="BasicHttpBinding_n_mis" maxBufferPoolSize="2147483647"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="BasicHttpBinding_n_pm" maxBufferPoolSize="2147483647"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="BasicHttpBinding_n_principalbalance" maxBufferPoolSize="2147483647"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="BasicHttpBinding_n_trading" maxBufferPoolSize="2147483647"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="BasicHttpBinding_IATMcoreWeb" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/CORE/GCOOP/WcfService/Account.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAccount"
        contract="WcfAccount.IAccount" name="BasicHttpBinding_IAccount" />
      <endpoint address="http://localhost/CORE/GCOOP/WcfService/Admin.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdmin"
        contract="WcfAdmin.IAdmin" name="BasicHttpBinding_IAdmin" />
      <endpoint address="http://localhost/CORE/GCOOP/WcfService/Agency.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAgency"
        contract="WcfAgency.IAgency" name="BasicHttpBinding_IAgency" />
      <endpoint address="http://localhost/CORE/GCOOP/WcfService/Budget.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBudget"
        contract="WcfBudget.IBudget" name="BasicHttpBinding_IBudget" />
      <endpoint address="http://localhost/CORE/GCOOP/WcfService/Busscom.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBusscom"
        contract="WcfBusscom.IBusscom" name="BasicHttpBinding_IBusscom" />
      <endpoint address="http://localhost/CORE/GCOOP/WcfService/Common.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICommon"
        contract="WcfCommon.ICommon" name="BasicHttpBinding_ICommon" />
      <endpoint address="http://localhost/CORE/GCOOP/WcfService/Deposit.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDeposit"
        contract="WcfDeposit.IDeposit" name="BasicHttpBinding_IDeposit" />
      <endpoint address="http://localhost/CORE/GCOOP/WcfService/Divavg.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDivavg"
        contract="WcfDivavg.IDivavg" name="BasicHttpBinding_IDivavg" />
      <endpoint address="http://localhost/CORE/GCOOP/WcfService/Finance.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFinance"
        contract="WcfFinance.IFinance" name="BasicHttpBinding_IFinance" />
      <endpoint address="http://localhost/CORE/GCOOP/WcfService/Investment.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInvestment"
        contract="WcfInvestment.IInvestment" name="BasicHttpBinding_IInvestment" />
      <endpoint address="http://localhost/CORE/GCOOP/WcfService/Keeping.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IKeeping"
        contract="WcfKeeping.IKeeping" name="BasicHttpBinding_IKeeping" />
      <endpoint address="http://localhost/CORE/GCOOP/WcfService/Mis.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMis"
        contract="WcfMis.IMis" name="BasicHttpBinding_IMis" />
      <endpoint address="http://localhost/CORE/GCOOP/WcfService/Pm.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPm"
        contract="WcfPm.IPm" name="BasicHttpBinding_IPm" />
      <endpoint address="http://localhost/CORE/GCOOP/WcfService/PrincipalBalance.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPrincipalBalance"
        contract="WcfPrincipalBalance.IPrincipalBalance" name="BasicHttpBinding_IPrincipalBalance" />
      <endpoint address="http://localhost/CORE/GCOOP/WcfService/Print.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPrint"
        contract="WcfPrint.IPrint" name="BasicHttpBinding_IPrint" />
      <endpoint address="http://localhost/CORE/GCOOP/WcfService/Shrlon.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IShrlon"
        contract="WcfShrlon.IShrlon" name="BasicHttpBinding_IShrlon" />
      <endpoint address="http://localhost/CORE/GCOOP/WcfService/Trading.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITrading"
        contract="WcfTrading.ITrading" name="BasicHttpBinding_ITrading" />
      <endpoint address="http://localhost/CORE/GCOOP/WebServiceReport/Report.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReport"
        contract="WcfReport.IReport" name="BasicHttpBinding_IReport" />
      <endpoint address="http://localhost/CEN/GCOOP/WebInterpreter/InterPreter.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInterPreter"
        contract="WcfInterPreter.IInterPreter" name="BasicHttpBinding_IInterPreter" />
      <endpoint address="http://localhost/CORE/GCOOP/WcfService125/n_shrlon.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_n_shrlon"
        contract="WcfNShrlon.n_shrlon" name="BasicHttpBinding_n_shrlon" />
      <endpoint address="http://localhost/CORE/GCOOP/WcfService125/n_common.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_n_common"
        contract="WcfNCommon.n_common" name="BasicHttpBinding_n_common" />
      <endpoint address="http://localhost/CORE/GCOOP/WcfService125/n_account.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_n_account"
        contract="WcfNAccount.n_account" name="BasicHttpBinding_n_account" />
      <endpoint address="http://localhost/CORE/GCOOP/WcfService125/n_admin.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_n_admin"
        contract="WcfNAdmin.n_admin" name="BasicHttpBinding_n_admin" />
      <endpoint address="http://localhost/CORE/GCOOP/WcfService125/n_agency.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_n_agency"
        contract="WcfNAgency.n_agency" name="BasicHttpBinding_n_agency" />
      <endpoint address="http://localhost/CORE/GCOOP/WcfService125/n_budget.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_n_budget"
        contract="WcfNBudget.n_budget" name="BasicHttpBinding_n_budget" />
      <endpoint address="http://localhost/CORE/GCOOP/WcfService125/n_busscom.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_n_busscom"
        contract="WcfNBusscom.n_busscom" name="BasicHttpBinding_n_busscom" />
      <endpoint address="http://localhost/CORE/GCOOP/WcfService125/n_deposit.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_n_deposit"
        contract="WcfNDeposit.n_deposit" name="BasicHttpBinding_n_deposit" />
      <endpoint address="http://localhost/CORE/GCOOP/WcfService125/n_divavg.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_n_divavg"
        contract="WcfNDivavg.n_divavg" name="BasicHttpBinding_n_divavg" />
      <endpoint address="http://localhost/CORE/GCOOP/WcfService125/n_finance.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_n_finance"
        contract="WcfNFinance.n_finance" name="BasicHttpBinding_n_finance" />
      <endpoint address="http://localhost/CORE/GCOOP/WcfService125/n_investment.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_n_investment"
        contract="WcfNInvestment.n_investment" name="BasicHttpBinding_n_investment" />
      <endpoint address="http://localhost/CORE/GCOOP/WcfService125/n_keeping.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_n_keeping"
        contract="WcfNKeeping.n_keeping" name="BasicHttpBinding_n_keeping" />
      <endpoint address="http://localhost/CORE/GCOOP/WcfService125/n_mis.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_n_mis"
        contract="WcfNMis.n_mis" name="BasicHttpBinding_n_mis" />
      <endpoint address="http://localhost/CORE/GCOOP/WcfService125/n_pm.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_n_pm"
        contract="WcfNPm.n_pm" name="BasicHttpBinding_n_pm" />
      <endpoint address="http://localhost/CORE/GCOOP/WcfService125/n_principalbalance.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_n_principalbalance"
        contract="WcfNPrincipalBalance.n_principalbalance" name="BasicHttpBinding_n_principalbalance" />
      <endpoint address="http://localhost/CORE/GCOOP/WcfService125/n_trading.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_n_trading"
        contract="WcfNTrading.n_trading" name="BasicHttpBinding_n_trading" />
      <endpoint address="http://win-usdoe4fqc7c/ATM/CoreCoop/ATMcoopServiceWeb/ATMcoreWeb.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IATMcoreWeb"
        contract="WcfATM.IATMcoreWeb" name="BasicHttpBinding_IATMcoreWeb" />
    </client>
  </system.serviceModel>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="40960000"/>
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
</configuration>